<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/w3.css" th:href="@{css/w3.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<table align="cemtre">
    <tr>
        <td>
            <img src="../static/img/code.png" th:src="@{/img/code.png}" width="200%"/>
        </td>
    </tr>
</table>

</body>
</html>