<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/w3.css" th:href="@{css/w3.css}" />
</head>
<body>
<div th:replace="header :: header"></div>

<p>BLABLALBA</p>

<div class="w3-row w3-container">
    <div class="w3-col s4 w3-center">
        <a class="w3-bar-item w3-button" th:href="@{/details}">
            <img src="../static/img/concert1.jpeg" th:src="@{/img/concert1.jpeg}" />
        </a>
        <p align="left">Le nom de consert:CLEEVELAND TANIA LEURS AMIS</p>
        <p align="left">Le nom de Chanteur:YÉ BON KÉ SA</p>
        <p align="left">La Ville:Toulouse</p>
        <p align="left">La Date:01/05/2017</p>
    </div>

    <div class="w3-col s4 w3-center">
        <img src="../static/img/concert2.jpeg" th:src="@{/img/concert2.jpeg}" />
        <p align="left">Le nom de consert:IS THE NEW BLACK</p>
        <p align="left">Le nom de Chanteur:FARY</p>
        <p align="left">La Ville:Paris</p>
        <p align="left">La Date:02/05/2017</p>
    </div>

    <div class="w3-col s4 w3-center">
        <img src="../static/img/concert3.jpeg" th:src="@{/img/concert3.jpeg}" />
        <p align="left">Le nom de consert:CLEEVELAND TANIA LEURS AMIS</p>
        <p align="left">Le nom de Chanteur:YÉ BON KÉ SA</p>
        <p align="left">La Ville:Toulouse</p>
        <p align="left">La Date:07/05/2017</p>
    </div>
</div>

<div class="w3-row w3-container">
    <div class="w3-col s4 w3-center">
        <img src="../static/img/concert4.jpeg" th:src="@{/img/concert4.jpeg}" />
        <p align="left">Le nom de consert:CLEEVELAND TANIA LEURS AMIS</p>
        <p align="left">Le nom de Chanteur:YÉ BON KÉ SA</p>
        <p align="left">La Ville:Toulouse</p>
        <p align="left">La Date:14/05/2017</p>
    </div>

    <div class="w3-col s4 w3-center">
        <img src="../static/img/concert5.jpeg" th:src="@{/img/concert5.jpeg}" />
        <p align="left">Le nom de consert:CLEEVELAND TANIA LEURS AMIS</p>
        <p align="left">Le nom de Chanteur:YÉ BON KÉ SA</p>
        <p align="left">La Ville:Toulouse</p>
        <p align="left">La Date:21/05/2017</p>
    </div>

    <div class="w3-col s4 w3-center">
        <img src="../static/img/concert6.jpeg" th:src="@{/img/concert6.jpeg}" />
        <p align="left">Le nom de consert:CLEEVELAND TANIA LEURS AMIS</p>
        <p align="left">Le nom de Chanteur:YÉ BON KÉ SA</p>
        <p align="left">La Ville:Toulouse</p>
        <p align="left">La Date:28/05/2017</p>
    </div>
</div>

</body>
</html>